doctype html
html
    head
        title #{subject}
    body 
        h2 #{subject}
        p Hi #{firstName}
        p Your reset token is #{url}. Please reset password as soon as possible since this token will expire within next 10 minutes.
